// Colors: Catppuccin
$Background: #1e1e2e;
$BackgroundSecondary: #302d41;
$BackgroundDarker: #0f0f1d;
$Foreground: #d9e0ee;
$ForegroundSecondary: #96cdfb;
$Accent: #f5c2e7;
$AccentSecondary: #b5e8e0;
$Border: #575268;

@font-face {
  font-family: "FORCED SQUARE";
  src: url("/font/FORCEDSQUARE.woff2") format("woff2"),
    url("/font/FORCEDSQUARE.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
