---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      @import "../styles/_variables.scss";

      html,
      body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }

      body {
        line-height: 16px;
        font-family: "FORCED SQUARE";
        font-size: 14px;

        background-color: $BackgroundDarker;
        color: $Foreground;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      img {
        width: 220px;
        height: 220px;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
      }

      a {
        text-decoration-style: dotted;
        -moz-text-decoration-style: dotted;
        color: $AccentSecondary;
      }

      footer {
        margin-top: 10px;
        height: auto;
      }

      .container {
        background: $Background;
        border: 1px dotted $Border;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 20px;
        display: flex;
        justify-content: space-around;

        .separator {
          border-left: 1px dotted $Border;
        }

        .left,
        .right {
          width: max(min(30vw, 320px), 240px);
        }

        .left {
          padding-right: 20px;
        }

        .right {
          padding-left: 20px;

          text-align: right;

          ul {
            padding-left: 0;
          }

          li {
            direction: rtl;
          }
        }

        .name {
          font-size: 24px;
          margin-bottom: 10px;
          padding-top: 10px;
        }

        .pronouns {
          color: $Accent;
          font-size: 14px;
          display: inline-flex;
        }

        .desc {
          text-align: justify;
        }

        .comment {
          font-size: small;
          text-align: right;
          margin-right: 10px;
        }

        .links {
          text-align: center;
        }

        ul {
          padding-right: 30px;
        }
      }

      @media only screen and (max-width: 599px) {
        body {
          padding: 0;
          margin: 0;
        }
        .container {
          padding: 10px;
          min-height: 80%;
          align-items: center;

          .separator {
            margin-left: 10px;
            margin-right: 10px;
            width: 90%;
            border-top: 1px dotted $Border;
          }

          .left,
          .right {
            padding: 10px;
            text-align: justify;
          }

          ul,
          li {
            text-align: justify;
            direction: ltr;
          }
        }

        .container {
          flex-direction: column;
          justify-content: flex-start;
        }

        .links {
          margin-bottom: 20px;
        }
      }

      @media only screen and (min-width: 1199px) {
        body,
        footer,
        .pronouns {
          font-size: 16px;
        }

        .name {
          font-size: 20px;
        }
      }

      @media only screen and (min-width: 1499px) {
        body,
        footer,
        .pronouns {
          font-size: 18px;
        }

        img {
          width: 250px;
          height: 250px;
        }

        .left,
        .right {
          width: 400px;
        }

        .name {
          font-size: 24px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img
          src="https://avatars.githubusercontent.com/u/99078103?v=4"
          alt=""
          width="220"
          height="220"
        />
        <div class="name">
          Lumi Kalt
          <div class="pronouns">⋅ she/her</div>
        </div>
        <div class="desc">
          Programmer with low self-esteem and lack of motivation. Loves to learn
          new things, but gets bored easily.
        </div>
        <br />
        <div class="desc links">
          <a href="https://miruku.cafe/@lumi">FEDI</a> |
          <a href="https://github.com/lumikalt">GITHUB</a> |
          <a href="/blog">BLOG</a> |
          <a href="mailto:lumi.mia.kalt@gmail.com">MAIL</a>
        </div>
      </div>
      <div class="separator"></div>
      <div class="right">
        <div class="name">PROJECTS</div>
        <div class="desc">
          <ul>
            <li>My future stuffs go here</li>
          </ul>
          <div class="comment">...I have no idea what to do.</div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
