---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

import "../styles/home.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img
          src="https://avatars.githubusercontent.com/u/99078103?v=4"
          alt=""
          width="220"
          height="220"
        />
        <div class="name">
          Lumi Kalt
          <div class="pronouns">⋅ she/her</div>
        </div>
        <div class="desc">
          Programmer with low self-esteem and lack of motivation. Loves to learn
          new things, but gets bored easily.
        </div>
        <br />
        <div class="desc links">
          <a href="/blog">BLOG</a> |
          <a href="https://miruku.cafe/@lumi">FEDI</a> |
          <a href="https://github.com/lumikalt">GITHUB</a> |
          <a href="https://twitter.com/lumikalt">TWITTER</a>
        </div>
      </div>
      <div class="separator"></div>
      <div class="right">
        <div class="name">PROJECTS</div>
        <div class="desc">
          <ul>
            <li><a href="http://github.com/lumikalt/website">Website</a></li>
          </ul>
          <div class="comment">...I have no idea what to do.</div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
